@page "/admin/question"
@layout AdminLayout
@rendermode InteractiveServer

<PageTitle>Вопросы</PageTitle>

<LoadDataView TItem="List<QuestionAdminDTO>" Data="ApiResponse" />

@if (ApiResponse != null && ApiResponse.Success)
{
    <div style="display:@(IsUpsertForm ? "none" : "");">
        <NexusTableGrid @ref="NexusTable" TItem="QuestionAdminDTO" Data="ApiResponse.Data" SelectionMode="SelectMode"
                        ExpandMode="NexusTableGridExpandMode.Single" EditMode="EditMode"
                        AllowFiltering="true" ShowEmptyMessage="true" EmptyMessage="Нет вопросов">
            <ToolTemplate>
                <NexusGroupButton>
                    <NexusButton Title="Добавить" OnClick="Insert" CssClass="btn-primary" IconClass="bi bi-plus-lg" Disable="IsCrud" />
                    <NexusButton Title="Изменить" OnClick="Edit" CssClass="btn-warning" IconClass="bi bi-pencil-fill" Disable="IsSelected" />
                    <NexusButton Title="Удалить" OnClick="Delete" CssClass="btn-danger" IconClass="bi bi-trash3-fill" Disable="IsSelected" />
                </NexusGroupButton>
            </ToolTemplate>
            <Columns>
                <NexusTableGridColumn Title="#">
                    <CellTemplate>
                        @(ApiResponse.Data!.IndexOf(context) + 1)
                    </CellTemplate>
                </NexusTableGridColumn>
                <NexusTableGridColumn Title="Название" Property="q => q.Title" Filterable="true" />
            </Columns>
            <ExpandRow>
                <AnswerView Items="@context.AnswerItems" QuestionId="@context.Id" />
            </ExpandRow>
        </NexusTableGrid>
    </div>
    <div class="h-100" style="display:@(IsUpsertForm ? "" : "none");">
        <QuestionFormPage Data="Upsert" OnCancel="Cancel" OnSave="Save" TopicSelects="TopicSelects" />
    </div>
}
