@page "/admin/user"
@layout AdminLayout
@rendermode InteractiveServer

<PageTitle>Пользователи</PageTitle>

<LoadDataView TItem="List<UserAdminDTO>" Data="ApiResponse" />

@if (ApiResponse != null && ApiResponse.Success)
{
    <div style="display:@(IsUpsertForm ? "none" : "");">
        <NexusTableGrid @ref="NexusTable" TItem="UserAdminDTO" Data="ApiResponse.Data" SelectionMode="SelectMode"
                        EditMode="EditMode" AllowSorting="true" AllowFiltering="true"
                        ShowEmptyMessage="true" EmptyMessage="Нет пользователей" CssStyle="">
            <ToolTemplate>
                <NexusGroupButton>
                    <NexusButton Title="Добавить" OnClick="Insert" CssClass="btn-primary" IconClass="bi bi-plus-lg" Disable="IsCrud" />
                    <NexusButton Title="Изменить" OnClick="Edit" CssClass="btn-warning" IconClass="bi bi-pencil-fill" Disable="IsSelected" />
                    <NexusButton Title="Удалить" OnClick="Delete" CssClass="btn-danger" IconClass="bi bi-trash3-fill" Disable="IsSelected" />
                </NexusGroupButton>
            </ToolTemplate>
            <Columns>
                <NexusTableGridColumn Title="#">
                    <CellTemplate>
                        @(ApiResponse.Data!.IndexOf(context) + 1)
                    </CellTemplate>
                </NexusTableGridColumn>
                <NexusTableGridColumn Title="ФИО" Property="u => u.FullName" Sortable="true" Filterable="true" />
                <NexusTableGridColumn Title="Логин" Property="u => u.Login" />
                <NexusTableGridColumn Title="Пароль" Property="u => u.Password" />
                <NexusTableGridColumn Title="Организация" Property="u => u.Organization" Filterable="true" />
                <NexusTableGridColumn Title="Позиция" Property="u => u.Position" />
            </Columns>
        </NexusTableGrid>
    </div>
    <div class="h-100" style="display:@(IsUpsertForm ? "" : "none");">
        <UserFormPage Data="Upsert" OnCancel="Cancel" OnSave="Save" GroupSelects="GroupSelects" />
    </div>
}
