<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0 text-center">До окончания теста осталось</h4>
                </div>
                <div class="card-body m-1 p-0">
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div class="text-center">
                            <h3 id="hours" class="display-6">@Hours</h3>
                            <span>Часы</span>
                        </div>
                        <div class="text-center">
                            <h3 id="minutes" class="display-6">@Minutes</h3>
                            <span>Минуты</span>
                        </div>
                        <div class="text-center">
                            <h3 id="seconds" class="display-6">@Seconds</h3>
                            <span>Секунды</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
